body {
    background: rgb(231, 154, 219);
    background: radial-gradient(circle, rgba(231, 154, 219, 1) 9%, rgba(200, 141, 236, 1) 37%, rgba(183, 139, 231, 1) 44%, rgba(128, 220, 231, 1) 86%, rgba(11, 191, 238, 1) 100%);
}

#heading {
    background: black;
    padding: 20px;
    font-size: 45px;
    margin-bottom: 20px;
    margin-top: 0%;
    color: #fff;
    text-align: center;

}

#me {
    border-radius: 50%;
    height: 240px;
    width: 200px;
    border: 2px solid black;
    margin: 20px;
    display: block;
}

#name {
    font-size: 30px;
    font-family: 'Gill Sans';
    color: black;
    padding: 25px 45px;
    box-sizing: border-box;
    border-radius: 50px;
    max-width: fit-content;
    border: 7px solid black;
    display: inline-flex;
    text-align: center;
    margin: 20px;
}

#name a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#mail {
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
    padding: 0px;
    margin: auto;
}

#college {
    font-size: 30px;
    color: black;
    text-align: center;
    margin: 10px;
}

.projects {
    padding: 25px;
    margin: 25px;
}


.project {
    font-size: 20px;
    border-radius: 10px;
    color: black;
    background-color: rgb(251, 227, 196);
    font-family: Georgia;
    padding: 0px 25px ;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links{
    display: flex;
    width: fit-content;
    float: right;
    justify-content: space-evenly;
}

#last {
    font-size: 15px;
    color: rgb(255, 0, 0);
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.deployed{
    height: 30px;
    width: 30px;
    margin: 5px;
}

.git{
    height: 30px;
    width: 30px;
    margin: 5px;

}